<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homes.app.common.hashtag.mapper.HashtagMapper">

	<sql id="hashTagColumns">
		id
		, name
		, create_date
		, clicks
	</sql>
	
	<resultMap type="HashtagDto" id="hashtagDtoResultMap">
	
	<id property="id" column="id"/>
	<result property="name" column="name"/>
	<result property="createDate" column="create_date"/>
	<result property="clicks" column="clicks"/>

	</resultMap>
	
	
	<select id="selectHashtags" resultMap="hashtagDtoResultMap">
		
		SELECT
			<include refid="hashTagColumns" />
		FROM hashtags
			
	</select>
	
	<delete id="deleteTag" parameterType="long">
		DELETE FROM hashtags WHERE id=#{id}
	</delete>
	
	<update id="editTag" parameterType="HashtagDto">
		UPDATE hashtags
		SET name=#{name}, create_date=NOW()
		where id=#{id}
	</update>
	
	<insert id="insertTag" parameterType="HashtagDto">
		INSERT INTO hashtags		
		VALUES 
		(null,#{name},NOW(),0)
	</insert>



</mapper>