<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homes.app.user.mainpage.mapper.MainPageMapper">

	<sql id="ImageColumns">
		id,
		hashtags_names,
		filepath,
		original_filename,
		url,
		sort,
		create_date,
		pnum,
		view,
		scrap	
	</sql>
	
	<resultMap type="ImageDto" id="ImageDto">
		<id property="id" column="id"/>
		<result property="hashtagsNames" column="hashtags_names"/>
		<result property="filepath" column="filepath"/>
		<result property="originalFilename" column="original_filename"/>
		<result property="url" column="url"/>
		<result property="sort" column="sort"/>
		<result property="createDate" column="create_date"/>
		<result property="pnum" column="pnum"/>
		<result property="view" column="view"/>
		<result property="scrap" column="scrap"/>
	</resultMap>
	
	<select id="getInteriorImages"
	parameterType="java.util.HashMap"
	resultType="ImageDto" resultMap="ImageDto">
	
		SELECT
			<include refid="ImageColumns"/>
		FROM 
			images
		WHERE 
			sort='interior'
		ORDER BY
			view desc
		LIMIT 4
		
	</select>
	
	<select id="getDecoImages"
	parameterType="java.util.HashMap"
	resultType="ImageDto" resultMap="ImageDto">
	
		SELECT
			<include refid="ImageColumns"/>
		FROM 
			images
		WHERE 
			sort='deco'
		ORDER BY
			view desc
		LIMIT 4
		
	</select>
	
	<select id="getImageList"
	parameterType="java.util.HashMap"
	resultType="ImageDto" resultMap="ImageDto">
	
		SELECT
			<include refid="ImageColumns"/>
		FROM 
			images
		WHERE 
			sort='interior'
		ORDER BY
		<choose>
	        <when test="order == 'recent'">create_date asc</when>
	        <when test="order == 'descent'">create_date desc</when>
	        <when test="order == 'highview'">view desc</when>
	        <when test="order == 'lowview'">view asc</when>
	        <when test="order == 'highscrap'">scrap desc</when>
	        <when test="order == 'lowscrap'">scrap asc</when>
	        <otherwise>id desc</otherwise>
	    </choose>
			
	</select>
	
</mapper>